@font-face {
    font-family: 'Outfit';
    src: url('public/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
}
:root {
    --color-bg:       hsl(212, 45%, 89%);
    --color-card:     hsl(0, 0%, 100%);
    --color-title:    hsl(218, 44%, 22%);
    --color-paragraph:hsl(216, 15%, 48%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    font-family: 'Outfit', sans-serif;
}
.card {
    text-align: center;
    background-color: var(--color-card);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    border-radius: 12px;
    padding: 15px;
}
.card img {
    max-width: 100%;
    border-radius: 12px;
}
.text {
    padding-block: 10px;
}
h1 {
    color: var(--color-title);
    font-size: 20px;
    font-weight: 700;
}
p {
    margin: 0;
    font-size: 15px;
    color: var(--color-paragraph);
}
